@model IEnumerable<FilmLovers.Models.Roportaj>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>Röportajlar</h1>

<p>
    <button type="button" class="btn btn-outline-danger">
        <a asp-action="Create" class="text-dark">Create New</a>
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Başlık
            </th>
            <th>
               Konu
            </th>
            <th>
               Resim
            </th>
            <th>
               Konuşmacı
            </th>
            <th>
                Yazar
            </th>
            <th>
                Yazi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Baslik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Konu)
                </td>
                <td>
                    <img src="@Url.Content(item.Resim)" class="d-block w-50" asp-append-version="true" />
                  
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Konusmaci)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Yazar.Ad)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Yazi)
                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="text-dark">Edit</a>
                    </button>

                    <button type="button" class="btn btn-outline-danger">
                        <a asp-action="Details" asp-route-id="@item.Id" class="text-dark">Details</a>
                    </button>

                    <button type="button" class="btn btn-outline-danger">
                        <a asp-action="Delete" asp-route-id="@item.Id" class="text-dark">Delete</a>
                    </button>

                </td>
            </tr>
        }
    </tbody>
</table>
