@model FilmLovers.Models.Dizi

@{
    ViewData["Title"] = "Details";
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h5>@SharedLocalizer["Detaylar"]</h5>
<br />

<div>
    <h4>@SharedLocalizer["DiziCreate"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @SharedLocalizer["Ad"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiziAd)
        </dd>
        <dt class="col-sm-2">
            @SharedLocalizer["Yıl"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yil)
        </dd>
        <dt class="col-sm-2">
            @SharedLocalizer["Konu"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Konu)
        </dd>
        <dt class="col-sm-2">
            @SharedLocalizer["Oyuncular"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oyuncular)
        </dd>
        <dt class="col-sm-2">
            @SharedLocalizer["Resim"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resim)
        </dd>
        <dt class="col-sm-2">
            @SharedLocalizer["Dil"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dil)
        </dd>
        <dt class="col-sm-2">
            @SharedLocalizer["Sezon sayisi"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SezonSayisi)
        </dd>
        <dt class="col-sm-2">
            @SharedLocalizer["Toplam bolum sayısı"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToplamBolumSayisi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">@SharedLocalizer["geri"]</a>
</div>
