@model IEnumerable<FilmLovers.Models.Dizi>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>@SharedLocalizer["Dizi"]</h1>

<p>
    <button type="button" class="btn btn-outline-danger">
        <a asp-action="Create" class="text-dark">@SharedLocalizer["Olustur"]</a>
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @SharedLocalizer["Ad"]
            </th>
            <th>
                @SharedLocalizer["Yıl"]
            </th>
            <th>
                @SharedLocalizer["Konu"]
            </th>
            <th>
                @SharedLocalizer["Oyuncular"]
            </th>
            <th>
                @SharedLocalizer["Resim"]
            </th>
            <th>
                @SharedLocalizer["Dil"]
            </th>
            <th>
                @SharedLocalizer["Toplam bolum sayısı"]
            </th>
            <th>
                @SharedLocalizer["Toplam bolum sayısı"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DiziAd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Yil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Konu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Oyuncular)
                </td>
                <td>
                
                    <img src="@Url.Content(item.Resim)" class="d-block w-50" asp-append-version="true" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SezonSayisi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToplamBolumSayisi)
                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="text-dark">@SharedLocalizer["Duzenle"]</a>
                    </button>

                    <button type="button" class="btn btn-outline-danger">
                        <a asp-action="Details" asp-route-id="@item.Id" class="text-dark">@SharedLocalizer["Detaylar"]</a>
                    </button>

                    <button type="button" class="btn btn-outline-danger">
                        <a asp-action="Delete" asp-route-id="@item.Id" class="text-dark">@SharedLocalizer["Sil"]</a>
                    </button>

                </td>
            </tr>
        }
    </tbody>
</table>
