@model FilmLovers.Models.DiziElestri

@{
    ViewData["Title"] = "Details";
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h5>@SharedLocalizer["Detaylar"]</h5>

<div>
    <h4>@SharedLocalizer["Dizi Elestrileri"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Dizi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dizi.Id)
        </dd>
        <dt class="col-sm-2">
          Yazar
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yazar.Id)
        </dd>
        <dt class="col-sm-2">
            Yazı
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yazi)
        </dd>
        <dt class="col-sm-2">
           Yazar Puanı
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YazarPuan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">@SharedLocalizer["geri"]</a>
</div>
