@model IEnumerable<FilmLovers.Models.Kategori>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>Kategoriler</h1>

<p>
    <button type="button" class="btn btn-outline-danger">
        <a asp-action="Create" class="text-dark">Create New</a>
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Kategori
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KategorAd)
                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="text-dark">@SharedLocalizer["Duzenle"]</a>
                    </button>

                    <button type="button" class="btn btn-outline-danger">
                        <a asp-action="Details" asp-route-id="@item.Id" class="text-dark">@SharedLocalizer["Detaylar"]</a>
                    </button>

                    <button type="button" class="btn btn-outline-danger">
                        <a asp-action="Delete" asp-route-id="@item.Id" class="text-dark">@SharedLocalizer["Sil"]</a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
