@model IEnumerable<FilmLovers.Models.Film>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Film Adı
             @*   @Html.DisplayNameFor(model => model.FilmAd) *@
            </th>
            <th>
                Yayın Tarihi
                @*  @Html.DisplayNameFor(model => model.Yil) *@
            </th>
            <th>
                Film Afişi
                @*  @Html.DisplayNameFor(model => model.Afis) *@
            </th>
            <th>
                Film Süresi
                @* @Html.DisplayNameFor(model => model.Uzunluk) *@
            </th>
            <th>
                IMDB Puanı
                @* @Html.DisplayNameFor(model => model.IMDB_Puan) *@
            </th>
            <th>
                Oyuncular
                @* @Html.DisplayNameFor(model => model.Oyuncular) *@
            </th>
            <th>
                Sinema İlk Gösterim Tarihi
                @*  @Html.DisplayNameFor(model => model.GosterimBaslangıc) *@
            </th>
            <th>
                Sinema Son Gösterim Tarihi
               @* @Html.DisplayNameFor(model => model.GosterimBitis) *@
            </th>
            <th>
                Film Konusu
                @* @Html.DisplayNameFor(model => model.Konu)  *@
            </th>
            <th>
                Eleştri Yazarı Puanı
                @* @Html.DisplayNameFor(model => model.YazarPuan) *@
            </th>
            <th>
                Kategori
                @* @Html.DisplayNameFor(model => model.Kategori) *@
            </th>
            <th>
                Dil
               @* @Html.DisplayNameFor(model => model.Dil) *@
            </th>
            <th>
                Eleştri Yazarı
                @* @Html.DisplayNameFor(model => model.Yazar) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
              
                @Html.DisplayFor(modelItem => item.FilmAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yil)
            </td>
            <td>
                @*  @Html.DisplayFor(modelItem => item.Afis) *@
                <img src="@Url.Content(item.Afis)" class="d-block w-50" asp-append-version="true" />
                <!--img olarak göstermek için eklendi-->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uzunluk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IMDB_Puan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oyuncular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GosterimBaslangıc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GosterimBitis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Konu)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.YazarPuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategori.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dil.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yazar.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
