@model FilmLovers.Models.Kullanici

@{
    ViewData["Title"] = "Details";
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h5>Detay</h5>
<br />

<div>
    <h4>Kullanici</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Ad
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class="col-sm-2">
       Soyad
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Soyad)
        </dd>
        <dt class="col-sm-2">
          Kullanıcı Adı
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KullaniciAdi)
        </dd>
        <dt class="col-sm-2">
           Email Adres
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailAdres)
        </dd>
        <dt class="col-sm-2">
           Şifre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sifre)
        </dd>

        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
